.app{
	
}

.background{
	z-index: 0;
}

.block{
	height: 100px;
	background-color: #65bcff;
}

.container{
	z-index: 1;
	padding-bottom: 300px;
}

.phone{
	width: 320px;
	height: 633px;
	margin: 23px auto;
	background-image: url('../images/iPhone6.png');
	background-size: cover;
}
	.phone > video {
		width: 269px;
		margin: 77px 26px;
	}
	.phone > ul{
		float: left;
		width: 269px;
		height: 477px;
		background: #000;
		padding: 0;
		margin: 77px 26px;
		list-style: none;
		overflow: hidden;
	}
.title{
	color: #FFF;
	text-align: center;
}
.text{
	width: 60%;
	margin: 10px auto 0;
	color: #FFF;
	text-align: center;
}
	.text.left-text{
		left: -240px;
		top: 100px;
	}
	.text.left-text.next{
		left: -240px;
		top: 200px;
	}
	.text.right-text{
		right: -240px;
		top: 130px;
	}
	.text em{
		font-size: 2em;
		font-weight: bold;
	}
.appstore-link img{
	margin-top: 20px;
	width: 200px;
}

input{
	margin: 0 auto;
	left: 50%;
	position: relative;
	margin-left: -140px;
	width: 250px;
	height: 15px;
	padding: 15px;
	border: none;
	border-radius: 6px;
	background: rgba(0,0,0,0.5);
	font-size: 18px;
}

input:focus{
	background-color: #FFF;
}