/*-----------------------
 *		BREAK POINTS
 -----------------------*/

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1000px) {
	.page-center { width: 95%; }
}

@media only screen and (max-width: 840px){

}

@media only screen and (max-width: 560px) {
	.page-center { width: 100%; }
	.phone p.text{
		position: relative;
		clear: both;
		top: 0;
		left: 50%;
		margin-left: -100px;
	}
	.text.left-text.next{
		left: 50%;
		top: 0;
	}
}