body{
    margin: 0;
    font-family: 'Helvetica';
    background: #0d0f0f;
}
a { text-decoration: none; }
input:focus, textarea:focus{
	outline: 0;
}

/*-----------------------
 *		COMMON
 -----------------------*/
@font-face {
  font-family: 'ChunkFive';
  src: url("../fonts/Chunkfive.otf");
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs25 { font-size: 25px; }
.fs30 { font-size: 30px; }
.fs48 { font-size: 48px; }
.fs60 { font-size: 60px; }

/*-----------------------
 *		COMMON
 -----------------------*/

.left{ float: left; }
.right{ float: right; }
.absolute{ position: absolute; }
.relative{ position: relative; }
.inline { display: inline; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.textLeft { text-align: left; }
.horizontal-center{ left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.center{ top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); }
.page-center { width: 1140px; margin: 0 auto; position: relative; -webkit-transition: width 0.5s; }
.both {clear: both;}
.clearLeft { clear: left; }
.clearRight { clear: right; }
.uppercase{ text-transform: uppercase; }
.width100 { width: 100%; }
.height100 { height: 100%; }
.autoHeight { height: auto; }
.noMargin { margin: 0; }
.noPadding { padding: 0; }
.noBorder { border: none; }
.border { border:solid; }
.noDecoration { text-decoration: none; }

.col1of2{
	width: 50%
}
.col1of3{
	width: 33.33333%;
}
.col2of3{
	width: 66.66666%;
}
/*-----------------------
 *		COLORS
 -----------------------*/

.bright-green { color: #9cff00;}
.black { color: #000; }
.white { color: #FFF; }
.gray { color: #666; }
.back-bright-green { background-color: #9cff00; }
.back-dark { background-color: #0d0f0e; }
.back-black { background-color: #000; }
.back-white { background-color: #FFF; }
.back-gray { background-color: #3e3e33; }

/*-----------------------
 *		FONTS
 -----------------------*/
.chunky{ font-family: 'ChunkFive'; }
.icon{ font-family: 'icomoon'; }

.background-image{
	top: 0;
	width: 120%;
    left: 60%;
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
	z-index: 0;
}

.app{
	left: 0; 
	overflow: hidden;
	-webkit-transition: left 0.3s;
	transition: left 0.3s;
}
.app.open{
	left: 60%;
}

.app .button{
	float: left;
	width: 140px;
	height: 30px;
	padding: 10px 0 30px;
	color: #FFF;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	text-decoration: none;
	font-size: 14px;
	border: none;
}
